.cursosSede li{
    color: rgb(78, 76, 76);
    text-align: start;
    }
    .cursosSede ul{
      padding:10px;
      margin-top:-20px;
    }
    .cursosSede h4{
      color:rgb(38, 57, 119)
    }

    @media screen and (max-width:450px){
      .cursosSede li{
        font-size:18px;
       
        margin-left: 10px;
      }
      .cursosSede h2{
        width: 90%;
      }
      h4{
        font-size: 18px;
        margin-top: -0.1px;
      }
      
    }